body{
background-color: #c7e8f0;
}
header{
margin-left: 10px;
}
h1{
  text-shadow: 2px 2px 5px gray;
  position: relative;
  left: 75px;
}
.about{
  margin-left: 10px;
  left:400px;
  width:820px;
  height:500px;
  background-color: #ffffff;
  opacity: 0.7;
}
.logos{
    position: absolute;
    left: 920px;
    top: 340px;
}
.sjl{
    position: absolute;
    left: 850px;
    top: 20px;
}
.git{
    position: absolute;
    left: 700px;
    top: 35px;
}

