<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Justice League</title>
    <link rel="stylesheet" href="../static/sjlstyles.css" />
  </head>
  <body>
    <header>
      <h1><b>The Social Justice League</b></h1>
        <div class="git"><a href="https://github.com/hectorsantiago5/Nationwide-Hackathon-SJL.git" target="_blank"><img src="../static/gitkitty.png" alt="github"></a></div>
     <p><a href="https://03a6eb966e40.ngrok.io "><img src="../static/home.png" alt="home"></a> <a href="https://03a6eb966e40.ngrok.io/aboutus"><img src="../static/about.png" alt="about"></a>
       <a href="https://03a6eb966e40.ngrok.io/data"><img src="../static/data.png" alt="data"></a>
       <a href="https://colab.research.google.com/drive/137gJkCzIfXnJK19kueeeKnaudKVcHCt_#scrollTo=bfCjWd-C1ua_" target="_blank"><img src="../static/colab.png" alt="google colab"></a></p>

    </header>
    <div class="about">
        <h2>Who We Are</h2>
        <br>


            <div class="card" id="card1">
                <img src="../static/vanessa.jpg" alt="Avatar" style="width:100%" >
                    <div class="container">
                        <h4><b>Vanessa Shogreen</b></h4>
                      <p id="bio">My name is Vanessa. I am a senior year CS student and student researcher. I enjoy programming and graphic design and I hope to work as a software developer.</p>
                       <p></p>
                    </div>
            </div>

            <div class="card" id="card2">
                <img src="../static/bernard.jpg" alt="Avatar" style="width:100%" >
                    <div class="container">
                        <h4><b>Bernard Lee</b><br></h4>
                        <p id="bio">
                            My name is Bernard Lee. I am a Junior, IT major. My future aspirations include becoming an Enterprise Architect and or producing music.
                            This is my first hackathon experience and I am enjoying collaborating with my teammates.</p>
                    </div>
                </div>


            <div class="card" id="card3">
                <img src="../static/mckayla.jpg" alt="Avatar" style="width:100%" >
                    <div class="container">
                        <h4><b>McKayla Dixon</b></h4>
                        <p id="bio">Hi, my name is McKayla Dixon I'm a sophomore and Computer Science major.
                            After graduating I hope to become a Software Engineer or Video Game Developer.</p>
                    </div>
                </div>


            <div class="card" id="card4">
                <img src="../static/hector.jpg" alt="Avatar" style="width:100%" >
                    <div class="container">
                        <h4><b>Hector Santiago</b></h4>
                        <p id="bio">My name is Hector Santiago. I am a Senior Computer Science Major. After graduating
                            I hope to obtain my Master of Computer Science and obtain a job as a Software Engineer.</p>
                    </div>
            </div>

        </div>
   <div class="logos"><img src="../static/nwwssu.png" alt=""></div>
    <div class="sjl"><img src="../static/sjlogo.png" alt=""></div>
</body>

</html>
