<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
<!--    <link href="../static/index.css" rel="stylesheet">-->
    <link href="../static/aboutus.css" rel="stylesheet">
</head>
<body>

<!--beginning of nav bar-->

<!--end of nav bar-->

	<div id="header">
		<img id="profile-pic" src="../static/nationwide.jpeg" alt="image">
	</div>

<!--beginning of pictures with info-->
<div class="row">
  <div class="column">
    <div class="card">
      <img src="../static/hector%20-%20headshot2.jpg" alt="Hector" style="width:100%">
      <div class="container">
        <h2>Hector Santiago</h2>
        <p class="title">Computer Science Major</p>
        <p>Description: About Hector</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../static/mystupidface.jpg" alt="Vanessa" style="width:100%">
      <div class="container">
        <h2>Krystal Daye</h2>
        <p class="title">Computer Science Major</p>
        <p>Description: About Vanessa</p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="../static/image.png" alt="Bernard" style="width:100%">
      <div class="container">
        <h2>John Milton</h2>
        <p class="title">Computer Science Major</p>
        <p>Description: About Bernard</p>
      </div>
    </div>
  </div>

<div class="column">
    <div class="card">
      <img src="../static/IMG_4273.jpg" alt="McKayla" style="width:100%">
      <div class="container">
        <h2>Jasmine Trapier</h2>
        <p class="title">Computer Science Major</p>
        <p>Description: About McKayla</p>
      </div>
    </div>
  </div>
</div>
<!--end of pictures with info-->

<!--beginning of footer-->
<div class="footer">
	<p> </p>
</div>
<!--end of footer-->


</body>
</html>