<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Justice league</title>
    <link rel="stylesheet" href="sjlstyles.css" />
  </head>
  <body>
    <header>
      <h1><b>The Social Justice League</b></h1>
      <p><a href="index.html"><img src="home.png" alt="home"></a> <a href="about us.html"><img src="about.png" alt="about"></a>  <a href="our data.html"><img src="data.png" alt="data"></a></p>

    </header>
    <div class="about">
        <h3>Our Data</h3>
    </div>
</body>

</html>
