<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Justice League</title>
    <link rel="stylesheet" href="../static/sjlstyles.css" />
  </head>
  <body>
    <header>
      <h1><b>The Social Justice League</b></h1>
        <div class="git"><a href="https://github.com/hectorsantiago5/Nationwide-Hackathon-SJL.git" target="_blank"><img src="../static/gitkitty.png" alt="github"></a></div>
     <p><a href="http://0.0.0.0:8080/"><img src="../static/home.png" alt="home"></a> <a href="http://0.0.0.0:8080/aboutus"><img src="../static/about.png" alt="about"></a>
       <a href="http://0.0.0.0:8080/data"><img src="../static/data.png" alt="data"></a>
       <a href="https://colab.research.google.com/drive/137gJkCzIfXnJK19kueeeKnaudKVcHCt_#scrollTo=bfCjWd-C1ua_" target="_blank"><img src="../static/colab.png" alt="google colab"></a></p>

    </header>
    <div class="about">
        <h2>Our Data Resources</h2>
        <h3>Videos</h3>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Betd8gCB2pc?start=39"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>

        </iframe>
    </div>
  <div class="logos"><img src="../static/nwwssu.png" alt=""></div>
  <div class="sjl"><img src="../static/sjlogo.png" alt=""></div>
</body>

</html>
