<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Justice league</title>
    <link rel="stylesheet" href="../static/sjlstyles.css" />
  </head>
  <body>
    <header>
      <h1><b>The Social Justice League</b></h1>
          <p><a href="index.html"><img src="../static/home.png" alt="home"></a> <a href="aboutus.html"><img src="../static/about.png" alt="about"></a>
       <a href="data.html"><img src="../static/data.png" alt="data"></a>
            <a href="https://colab.research.google.com/drive/137gJkCzIfXnJK19kueeeKnaudKVcHCt_#scrollTo=bfCjWd-C1ua_"><img src="../static/colab.png" alt="google colab"></a></p>

    </header>
    <div class="about">
        <h3>Our Data</h3>
    </div>
  <div class="logos"><img src="../static/nwwssu.png" alt=""></div>
  <div class="sjl"><img src="../static/sjlogo.png" alt=""></div>
</body>

</html>
