<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Justice League</title>
    <link rel="stylesheet" href="../static/sjlstyles.css" />
  </head>
  <body>
    <header>
      <h1><b>The Social Justice League</b></h1>
      <div class="git"><a href="https://github.com/hectorsantiago5/Nationwide-Hackathon-SJL.git" target="_blank"><img src="../static/gitkitty.png" alt="github"></a></div>
     <p><a href="index.html"><img src="../static/home.png" alt="home"></a> <a href="aboutus.html"><img src="../static/about.png" alt="about"></a>
       <a href="data.html"><img src="../static/data.png" alt="data"></a>
       <a href="https://colab.research.google.com/drive/137gJkCzIfXnJK19kueeeKnaudKVcHCt_#scrollTo=bfCjWd-C1ua_" target="_blank"><img src="../static/colab.png" alt="google colab"></a></p>
    </header>
    <div class="about">
      <section>
        <header> <h2>Our Mission</h2></header>
          <p id="mission">Our mission is to try to understand the correlation between COVID-19 vaccination facilities <wbr>
          and underrepresented communities. Even though minority groups are disproportionately affected <wbr>
          by COVID-19, in many places testing sites are primarily located in less diverse neighborhoods. This <wbr>
          can be due to discrimination, educational, income, and wealth gaps. <br><br>The lack of testing sites
          cause many minority groups to travel miles to be tested, or just not be tested at all. Our goal <wbr>
          is to make the connection between the proximity of sites to these communities and the effects it<wbr>
            has on them.</p>
        <section>
    </div>
    <div class="logos"><img src="../static/nwwssu.png" alt=""></div>
    <div class="sjl"><img src="../static/sjlogo.png" alt=""></div>
</body>

</html>
