<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Social Justice league</title>
    <link rel="stylesheet" href="static/sjlstyles.css" />
  </head>
  <body>
    <header>
      <h1><b>The Social Justice League</b></h1>
     <p><a href="index.html"><img src="static/home.png" alt="home"></a> <a href="aboutus.html"><img src="static/about.png" alt="about"></a>  <a href="our data.html"><img src="static/data.png" alt="data"></a></p>

    </header>
    <div class="about">
        <h3>Our Mission</h3>
    </div>
</body>

</html>
